body {
    background-color: rgb(72, 60, 89);
}

h1 {
    color: rgb(148, 80, 242);
    font-size: 48px;
    text-align: center;
}

.flexbox {
    display: flex;
    flex-direction: row;
    justify-content: center;
    width: 95%;
    margin: 0 auto;
    z-index: 1;
}

.webgl {
    position: fixed;
    top: 0;
    left: 0;
    outline: none;
    z-index: 2;
}

.essay {
    color: white;
    font-size: 24px;
    width: 100%;

}

.clickable {
    color: rgb(148, 80, 242);
    cursor: grab;
}

.clickable:hover {
    color: rgb(179, 137, 218);
}
